@font-face {
    font-family: 'SF Compact Text';
    src: url('SFCompactText-Regular.eot');
    src: url('SFCompactText-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFCompactText-Regular.woff2') format('woff2'),
        url('SFCompactText-Regular.woff') format('woff'),
        url('SFCompactText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

